<div class="form-control-container" [formGroup]="form">
  <input
    type="text"
    class="hidden-input"
    #formControl
    formControlName="{{ property[0] }}"
  />
  <input
    #fakeInput
    type="text"
    id="{{ property[0] }}"
    class="fake-input"
    (click)="toggleSelectLi()"
    (input)="filterControlValues(fakeFormInput, property)"
  />

  @if (isSearchUlVisible && property[1].isRef) {

  <ul class="form-ul">
    @for (doc of filteredRefDocs[property[1].isRef.apiSection]; track $index) {

    <li (click)="changeSelectValue(doc, property[1].isRef)">
      @for (propValue of property[1].isRef.properties.propsList; track $index) {

      {{ doc[propValue] }}
      }
    </li>
    }
  </ul>
  }
</div>
