<div class="form-control-container" [formGroup]="form">
  <input
    type="text"
    class="hidden-input"
    #formControl
    formControlName="{{ property[0] }}"
  />
  <div class="input-container" #fakeInputContainer (click)="toggleSelectLi()">
    <input
      #fakeInput
      type="text"
      id="{{ property[0] }}"
      class="fake-input"
      (input)="filterControlValues(fakeFormInput, property)"
    />
    <div class="triangle-container">
      <svg
        id="triangle"
        viewBox="0 0 100 100"
        class="{{ isSearchUlVisible ? '' : 'triangle-isDownSide' }}"
      >
        <polygon points="50 15, 100 100, 0 100" />
      </svg>
    </div>
  </div>

  @if (isSearchUlVisible && property[1].isRef) {

  <ul class="form-ul">
    @for (doc of filteredRefDocs[property[1].isRef.apiSection]; track $index) {

    <li (click)="changeSelectValue(doc, property[1].isRef)">
      @for (propValue of property[1].isRef.propsList; track $index) {

      {{ doc[propValue] }}
      }
    </li>
    }
  </ul>
  }
</div>
