<div class="main-container">
  <h1 class="form-title">Student Form</h1>
  <form [formRoot]="studentForm">
    <div class="form-controls">
      <!-- First name -->
      <div class="control-container">
        <label for="first-name">First Name *</label>
        <input
          type="text"
          id="first-name"
          placeholder="Peter"
          [formField]="studentForm.firstName"
        />
        @if (studentForm.firstName().touched() && studentForm.firstName().invalid()) {
          <p class="error">{{ studentForm.firstName().errors()[0].message }}</p>
        }
      </div>
      <!-- Last name -->
      <div class="control-container">
        <label for="last-name">Last Name *</label>
        <input type="text" id="last-name" placeholder="Ivanov" [formField]="studentForm.lastName" />
        @if (studentForm.lastName().touched() && studentForm.lastName().invalid()) {
          <p class="error">{{ studentForm.lastName().errors()[0].message }}</p>
        }
      </div>
      <!-- Birth date -->
      <div class="control-container">
        <label for="birth-date">Birth date *</label>
        <input type="date" id="birth-date" [formField]="studentForm.birthDate" />
        @if (studentForm.birthDate().touched() && studentForm.birthDate().invalid()) {
          <p class="error">{{ studentForm.birthDate().errors()[0].message }}</p>
        }
      </div>
      <!-- Gender radio -->
      <div class="control-container">
        <fieldset>
          <legend>Gender *</legend>
          <div class="radio-group">
            <input type="radio" id="gender1" value="Male" [formField]="studentForm.gender" />
            <label for="gender1">Male</label>
          </div>
          <div class="radio-group">
            <input type="radio" id="gender2" value="Female" [formField]="studentForm.gender" />
            <label for="gender2">Female</label>
          </div>
        </fieldset>
        @if (studentForm.gender().touched() && studentForm.gender().invalid()) {
          <p class="error">{{ studentForm.gender().errors()[0].message }}</p>
        }
      </div>
      <!-- Nationality -->
      <div class="control-container">
        <label for="nationality">Nationality *</label>
        <input
          type="text"
          id="nationality"
          placeholder="Bulgaria"
          [formField]="studentForm.nationality"
        />
        @if (studentForm.nationality().touched() && studentForm.nationality().invalid()) {
          <p class="error">{{ studentForm.nationality().errors()[0].message }}</p>
        }
      </div>
      <!-- Address -->
      <div class="control-container">
        <label for="address">Address *</label>
        <input
          type="text"
          id="address"
          placeholder="Ruse, cherry street, 12"
          [formField]="studentForm.address"
        />
        @if (studentForm.address().touched() && studentForm.address().invalid()) {
          <p class="error">{{ studentForm.address().errors()[0].message }}</p>
        }
      </div>
      <!-- Phone Number -->
      <div class="control-container">
        <label for="phone">Phone Number *</label>
        <input
          type="text"
          id="phone"
          placeholder="+892361569"
          [formField]="studentForm.phoneNumber"
          (input)="onPhoneInput($event)"
        />
        @if (studentForm.phoneNumber().touched() && studentForm.phoneNumber().invalid()) {
          <p class="error">{{ studentForm.phoneNumber().errors()[0].message }}</p>
        }
      </div>
    </div>

    <button class="bg-green-500 button" type="submit" [disabled]="studentForm().invalid()">
      Submit
    </button>
  </form>
</div>
