.table-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-shell {
  display: flex;
  flex-direction: column;
  flex: 1 0 30vh;
}

.scroll-area {
  flex: 1 1 auto; /* takes the remaining space */
  overflow: auto; /* scrolls if rows exceed available space */
  min-height: 0; /* important in flex columns — prevents the child from refusing to shrink */
}

table {
  width: 100%;
}

.mat-mdc-row,
.mat-mdc-header-row {
  align-items: stretch;
}

/* For id column */
.mat-mdc-row > td:first-child,
.mat-mdc-header-row > th:first-child {
  flex: 0 1 5%;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  flex: 1;
  display: flex;
  align-items: center;
}

.row-clicked {
  background-color: rgb(236, 232, 232);
}

/* Anchor */

.anchor-url-container {
  background-color: rgb(153, 154, 165);
  padding: 0.25rem 0.5rem;
  border-radius: 10%;
}

/* BUTTONS */

.button-container {
  height: 80px;
  position: relative;
}

.button-row {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
