/* general page styles */

.main-page {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #d9d9d9;
}

.page-padding {
  padding: 0.1em;
}

@media (min-width: 800px) {
  .page-padding {
    padding: 0.25em;
  }
}

@media (min-width: 1000px) {
  .page-padding {
    padding: 1em;
  }
}

@media (min-width: 1200px) {
  .page-padding {
    padding: 1em 1.5em;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 1em;
}

.main-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pagination-footer {
  margin-top: auto;
}
