.footer {
  margin-top: auto;
}

button,
input {
  font: inherit;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/*---------------------
| Table width classes |
---------------------*/

.th-10 {
  width: 10%;
}
.th-15 {
  width: 15%;
}
.th-20 {
  width: 20%;
}
.th-25 {
  width: 25%;
}
.th-30 {
  width: 30%;
}
.th-35 {
  width: 35%;
}
.th-40 {
  width: 40%;
}
.th-50 {
  width: 50%;
}
.th-60 {
  width: 60%;
}
