:host {
  display: block;
  height: 100%;
}

.page-container {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile > * {
  text-align: center;
}
