<ng2-pdfjs-viewer #pdfViewer [externalWindow]="true"></ng2-pdfjs-viewer>

<div class="main-page">
  <div class="page-container page-padding">
    <app-admin-view
      class="main-view"
      [componentInputs]="generalComponentInputs"
      [tableButtonsData]="tableButtonsData"
      [popupForm]="popupForm"
      [openPdf]="openPdf"
      (searchFormEvent)="receiveSearchForm($event)"
      (populateListOfClickedDataEvent)="receivePopulateFunction($event)"
    />

    <app-pagination
      class="pagination-footer"
      [componentInputs]="generalComponentInputs"
    />
  </div>
</div>
