<header
  class="page-header {{ isOnAdminPage ? 'admin-header' : 'user-page-header' }}"
>
  @if (isOnAdminPage) {

  <div class="button" [routerLink]="adminRoutes.adminMenu">
    <p>Admin access</p>
  </div>
  <div class="button" (click)="logout()">
    <span>Logout</span>
  </div>

  } @else {

  <p class="page-title" [routerLink]="homeRoute">Erasmus</p>
  <nav class="page-nav">
    @if (isAuthenticated) {

    <ul class="logged-nav-list">
      @if (isAdmin) {
      <li [routerLink]="adminRoutes.adminMenu"><a>Admin Module</a></li>
      }
      <li [routerLink]="userRoutes['applyForm']"><a>Apply</a></li>
      <li (click)="logout()"><a>Logout</a></li>
    </ul>
    } @else {

    <ul class="not-logged-nav-list">
      <li [routerLink]="userRoutes['login']"><a>Login</a></li>
      <li [routerLink]="userRoutes['register']"><a>Register</a></li>
    </ul>
    }
  </nav>
  }
</header>
