.page-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em;
  border-bottom: 1px solid black;
}

@media (min-width: 1000px) {
  .page-header {
    display: flex;
    padding: 1em;
  }
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-title {
  cursor: pointer;
  font-size: 1.5em;
}

.page-nav ul {
  display: flex;
  gap: 1em;
}

.page-nav li {
  list-style: none outside;
  cursor: pointer;
  padding: 0.5em;
}

.page-nav li:hover {
  background-color: #11be3f;
  color: white;
}
