<header class="page-header">
  <p class="page-title" [routerLink]="homeRoute">Erasmus</p>
  <nav class="page-nav">
    @if (isAuthenticated) {

    <ul class="logged-nav-list">
      <li [routerLink]="adminMenuRoute" *ngIf="isAdmin"><a>Admin Module</a></li>
      <li [routerLink]="userRoutes['applyForm']"><a>Apply</a></li>
      <li (click)="logout()"><a>Logout</a></li>
    </ul>
    } @else {

    <ul class="not-logged-nav-list">
      <li [routerLink]="userRoutes['login']"><a>Login</a></li>
      <li [routerLink]="userRoutes['register']"><a>Register</a></li>
    </ul>
    }
  </nav>
</header>
