.site-footer {
  background-color: rgb(65, 64, 64);
  padding: 1em 0.5em;
  height: 3.5rem;
}

.site-footer .container {
  display: flex;
  justify-content: center;
}
.container p {
  color: white;
}
