/* General styles */

@import url("../../../styles/generalAdminModuleStyles.css");

.name-td {
  width: 50%;
}
.coordinator-td {
  width: 35%;
}
.buttons-td {
  width: 15%;
}

/* pagination styles */

.pagination-footer {
  margin-top: auto;
}
