@if (pageCount > 0) {
<footer class="fields-pagination-footer">
  <div class="select-page">
    <div
      class="page-button-left pagination-styles {{
        page == 1
          ? 'pagination-styles-disabled'
          : 'pagination-styles-enabled-hover'
      }}"
      (click)="changePage(page - 1, isSearchActive)"
    >
      &lt; Previous
    </div>
    <div class="numbered-pages">
      <div
        class="page-option pagination-styles  {{
          page == page - (page - 1 < 5 ? page - 1 : 4) + i
            ? 'page-selected'
            : 'pagination-styles-enabled-hover'
        }}"
        *ngFor="let num of [].constructor(pageCountToIterate); let i = index"
        (click)="
          changePage(page - (page - 1 < 5 ? page - 1 : 4) + i, isSearchActive)
        "
      >
        {{ page - (page - 1 < 5 ? page - 1 : 4) + i }}
      </div>
    </div>

    <div
      class="page-button-right pagination-styles {{
        page == pageCount
          ? 'pagination-styles-disabled'
          : 'pagination-styles-enabled-hover'
      }}"
      (click)="changePage(page + 1, isSearchActive)"
    >
      Next &gt;
    </div>
  </div>
</footer>
}
