/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.outlet-container > * {
  display: block;
  height: 100%;
}

/** Router outlet */
.outlet-container > *:first-child {
  height: 0;
}

input,
textarea {
  border: 1px solid black;
}
