/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@use 'tailwindcss';

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

.outlet-container > * {
  display: block;
  height: 100%;
}

/** Router outlet */
.outlet-container > *:first-child {
  height: 0;
}

input,
textarea {
  border: 1px solid black;
}
