<div class="main-page">
  <div class="page-container page-padding">
    <header class="page-header">
      <p>Fields of Education</p>
      <div class="button-add button" (click)="togglePopup(false, -1)">
        {{ isPopupVisible && !isPopupEdit ? "Close" : "Add Document" }}
      </div>
    </header>

    <main class="page-main">
      <div class="settings">
        <p>
          Showing {{ getFields().length }}
          {{ getFields().length == 1 ? "entry" : "entries" }}
        </p>
        <div class="search-setting">
          <form
            class="search-form"
            [formGroup]="searchFieldForm"
            (submit)="
              changePage(1, searchFieldForm.value.search == '' ? false : true)
            "
          >
            <select
              name="search-param"
              class="search-form-select"
              formControlName="select"
            >
              <option value="" class="search-form-option">
                --- Choose Filter ---
              </option>
              <option value="name">Name</option>
              <option value="code">Code</option>
            </select>
            <input
              type="text"
              class="search-form-input"
              placeholder="Enter value..."
              formControlName="search"
            />
            <button type="submit" class="button search-form-button">
              Search
            </button>
          </form>
        </div>
      </div>
      <table class="documents-table">
        <thead>
          <th>Subject Code</th>
          <th>Subject Name</th>
          <th>Action</th>
        </thead>
        <tbody class="documents-table-body">
          <tr
            class="table-row"
            *ngFor="let field of getFields(); let i = index"
          >
            <td class="code-td">{{ field.code }}</td>
            <td class="name-td">{{ field.name }}</td>
            <td class="buttons-td">
              <div class="documents-table-buttons">
                <div class="button-edit button" (click)="togglePopup(true, i)">
                  {{
                    isPopupEdit && isPopupVisible && popupIndex == i
                      ? "Close"
                      : "Edit"
                  }}
                </div>
                <div
                  class="button-delete button"
                  (click)="deleteField(field._id)"
                >
                  Delete
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <app-pagination
      class="pagination-footer"
      [searchForm]="searchFieldForm"
      [adminModule]="adminModule"
    />

    <div class="field-popup" *ngIf="isPopupVisible">
      <h2 class="popup-heading">
        {{ isPopupEdit ? "Edit field" : "Add field" }}
      </h2>
      <p class="error-message" *ngIf="popupError">{{ popupError }}</p>
      <form
        class="field-form"
        [formGroup]="popupFieldForm"
        (submit)="popupFormAction()"
      >
        <div class="input-container">
          <label for="code">Code</label>
          <input type="text" formControlName="code" id="code" />
          <p
            class="error-message"
            *ngIf="
              !popupFieldForm.controls.code.valid &&
              popupFieldForm.controls.code.touched
            "
          >
            Field code must be 3 characters
          </p>
        </div>
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" formControlName="name" id="name" />
          <p
            class="error-message"
            *ngIf="
              !popupFieldForm.controls.name.valid &&
              popupFieldForm.controls.name.touched
            "
          >
            Name must be at least 5 characters
          </p>
        </div>

        <button
          type="submit"
          class="field-popup-button"
          [disabled]="!popupFieldForm.valid"
        >
          {{ isPopupEdit ? "Edit" : "Add" }}
        </button>
      </form>
    </div>
  </div>
</div>
