<div class="fields-page">
  <div class="fields-page-container">
    <header class="fields-header page-padding">
      <p>Fields of Education</p>
      <div class="button-add button" (click)="toggleAddPopup()">
        {{ isPopupVisible && !isPopupEdit ? "Close" : "Add" }}
      </div>
    </header>

    <main class="fields-main page-padding">
      <div class="settings">
        <p>
          Showing {{ fields.length }}
          {{ fields.length == 1 ? "entry" : "entries" }}
        </p>
        <div class="search-setting">
          <form
            class="search-form"
            [formGroup]="searchFieldForm"
            (submit)="searchField()"
          >
            <label for="search"
              >Search by:
              <select name="search-param" formControlName="select">
                <option value="name">name</option>
                <option value="code">code</option>
              </select></label
            >
            <input type="text" formControlName="search" id="search" />
          </form>
        </div>
      </div>
      <table class="fields-table">
        <thead>
          <th class="code-value">Subject Code</th>
          <th>Subject Name</th>
          <th>Controls</th>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let field of fields; let i = index">
            <td>{{ field.code }}</td>
            <td>{{ field.name }}</td>
            <td class="buttons-td">
              <div class="buttons">
                <div class="button-edit button" (click)="toggleEditPopup(i)">
                  {{
                    isPopupEdit && isPopupVisible && popupEditIndex == i
                      ? "Close"
                      : "Edit"
                  }}
                </div>
                <div
                  class="button-delete button"
                  (click)="onDelete(field._id, i)"
                >
                  Delete
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer class="fields-pagination-footer page-padding">
      <div class="select-page">
        <div class="page-button-left pagination-styles">&lt; Previous</div>
        <div class="numbered-pages">
          <div
            class="page-option pagination-styles"
            *ngFor="let num of [].constructor(pageCount); let i = index"
          >
            {{ page - (page - 1 < 5 ? page - 1 : 4) + i }}
          </div>
        </div>

        <div class="page-button-right pagination-styles">Next &gt;</div>
      </div>
    </footer>

    <div class="field-popup" *ngIf="isPopupVisible">
      <h2 class="popup-heading">
        {{ isPopupEdit ? "Edit field" : "Add field" }}
      </h2>
      <p class="error-message" *ngIf="errorAddingField">There was an error</p>
      <form
        class="field-form"
        [formGroup]="popupFieldForm"
        (submit)="isPopupEdit ? editField() : addField()"
      >
        <div class="input-container">
          <label for="code">Code</label>
          <input type="text" formControlName="code" id="code" />
          <p
            class="error-message"
            *ngIf="
              !popupFieldForm.controls.code.valid &&
              popupFieldForm.controls.code.touched
            "
          >
            Field code must be 3 characters
          </p>
        </div>
        <div class="input-container">
          <label for="name">Name</label>
          <input
            type="text"
            formControlName="name"
            id="name"
            value="{{
              isPopupVisible && isPopupEdit ? fields[popupEditIndex].name : ''
            }}"
          />
          <p
            class="error-message"
            *ngIf="
              !popupFieldForm.controls.name.valid &&
              popupFieldForm.controls.name.touched
            "
          >
            Name must be at least 5 characters
          </p>
        </div>

        <button
          type="submit"
          class="field-popup-button"
          [disabled]="!popupFieldForm.valid"
        >
          {{ isPopupEdit ? "Edit" : "Add" }}
        </button>
      </form>
    </div>
  </div>
</div>
