/* General styles */

@import url("../../../styles/generalAdminModuleStyles.css");

/* table proportions */

.code-td {
  width: 25%;
}

.name-td {
  width: 60%;
}

.buttons-td {
  width: 15%;
}

/* pagination footer */

.pagination-footer {
  margin-top: auto;
}
