<header class="page-header">
  <p>Browse {{ componentInputs.sectionName }}</p>
  @if (tableButtonsData.actions.editButtonIndex != -1) {
  <div
    class="button-add button"
    (click)="
      tableButtonsData.actions.buttons[
        tableButtonsData.actions.editButtonIndex
      ].handler({
        index: -1,
        isPopupEdit: false,
        adminPopupForm: popupForm,
        adminRecord: documents[0]
      })
    "
  >
    {{ isPopupVisible && !isPopupEdit ? "Close Form" : "Add Record" }}
  </div>
  }
</header>
<main class="page-main">
  <div class="settings">
    <p>
      Showing {{ documents.length }}
      {{ documents.length == 1 ? "entry" : "entries" }}
    </p>
    <div class="search-setting">
      <form
        class="search-form"
        [formGroup]="searchForm"
        (submit)="
          componentInputs.changePage(
            1,
            searchForm.value.search == '' ? false : true
          )
        "
      >
        <div class="search-select">
          <!-- hidden -->
          <input type="text" formControlName="select" class="hidden-select" />

          <button
            #selectBtn
            type="button"
            class="select-btn"
            (click)="toggleSelectLi()"
          >
            {{ searchSelectName }}
          </button>

          @if (isSearchLiVisible) {
          <ul class="search-form-ul">
            @for (property of docProperty; track $index) { @if
            (property[1].isShown) {

            <li (click)="changeSelectValue(property[0], property[1].name)">
              {{ property[1].name }}
            </li>
            } }
          </ul>
          }
        </div>
        <input
          type="text"
          class="search-form-input"
          placeholder="Enter value..."
          formControlName="search"
        />
        <button type="submit" class="button search-form-button">Search</button>
      </form>
    </div>
  </div>
  <table class="documents-table">
    <thead>
      @for (property of docProperty; track $index) { @if (property[1].isShown) {

      <th class="{{ property[1].widthClass }}">
        {{ property[1].name }}
      </th>
      } }
      <th class="{{ tableButtonsData.widthClass }}">Action</th>
    </thead>
    <tbody class="documents-table-body">
      <tr *ngFor="let document of documents; let i = index">
        @for (property of docProperty; track $index) { @if (property[1].isShown)
        {

        <td>
          <span
            class="td-content"
            [attr.data-clicked]="listOfClickedData[i][$index]"
            (click)="toggleTdPopup(i, $index)"
          >
            {{
              property[1].isRef
                ? document[property[0]][
                    property[1].isRef.properties.propsList[0]
                  ]
                : document[property[0]]
            }}
          </span>
          <span class="td-popup">{{
            property[1].isRef
              ? document[property[0]][property[1].isRef.properties.propsList[0]]
              : document[property[0]]
          }}</span>
        </td>
        } }
        <td>
          <div class="documents-table-buttons">
            @for (button of tableButtonsData.actions.buttons; track $index) {
            <div
              class="button {{ button.bgColorClass }}"
              (click)="
                button.handler({
                  adminRecord: document,
                  index: i,
                  adminPopupForm: popupForm,
                  isPopupEdit: true
                })
              "
            >
              {{ button.showAltText(i) ? button.altText : button.text }}
            </div>
            }
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
