:host {
  display: block;
  height: 100%;
  width: fit-content;
}

.form-input {
  gap: 0.5em;
  background-color: gray;
}

.input-content {
  flex: 1 1 auto; /* the input area takes up remaining space */
}

.custom-select-group {
  position: relative;
}

.select-group-holder {
  position: absolute;
  max-height: 15em;
  overflow-x: auto;
  width: 100%;
}

.custom-select-option {
  cursor: pointer;
}
