.navigation-container {
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 4rem;
  padding-inline: 1rem;
}

.navbar > * {
  align-items: center;
  display: flex;
}

.nav-links {
  flex-direction: row;
  gap: 1rem;
}

.nav-links .nav-link:hover,
.nav-right a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

.img-button {
  border-radius: 50%;
  max-width: 3rem;
  cursor: pointer;
}

.img-button:hover {
  border: 1px solid transparent;
}

.horizontal-navigation-container {
  height: 2rem;
  width: 100%;
  position: absolute;
  bottom: -2rem;
  z-index: 99;
}
