.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid black;
  height: 4rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-links .nav-link:hover,
.nav-right a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 1rem;
}
