<div class="admin-home">
  <div class="content">
    <aside class="admin-aside">
      <div (click)="toggleNav()" class="button toggle-nav">
        <span>{{ isNavShown ? "Hide Navigation" : "Show Navigation" }} </span>
      </div>
      <div class="nav-container">
        @if (isNavShown) {

        <nav class="admin-nav">
          <ul>
            <li [routerLink]="homeRoute"><a>Home</a></li>
            <li [routerLink]="adminRoutes.receivingContacts">
              <a>Receiving Contacts</a>
            </li>
            <li [routerLink]="adminRoutes.foreignContacts">
              <a>Foreign Contacts</a>
            </li>
            <li [routerLink]="adminRoutes.faculties"><a>Faculties</a></li>
            <li [routerLink]="adminRoutes.fields">
              <a>Fields of Education</a>
            </li>
            <li [routerLink]="adminRoutes.mobilities"><a>Mobilities</a></li>
            <li [routerLink]="adminRoutes.applications"><a>Applications</a></li>
            <li [routerLink]="adminRoutes.students"><a>Students</a></li>
          </ul>
        </nav>
        }
      </div>
    </aside>
    <main class="admin-main">
      <router-outlet />
    </main>
  </div>
</div>
