<div class="admin-home">
  <header class="admin-header">
    <p>Admin access</p>
    <div class="button" (click)="logoutAdmin()">
      <span>Logout</span>
    </div>
  </header>
  <div class="content">
    <aside class="admin-aside">
      <div (click)="toggleNav()" class="button toggle-nav">
        <span>{{ isNavShown ? "Hide Navigation" : "Show Navigation" }} </span>
      </div>
      <div class="nav-container">
        <nav class="admin-nav" *ngIf="isNavShown">
          <ul>
            <li routerLink="{{ adminRoutes.adminMenu }}"><a>Home</a></li>
            <li routerLink="#"><a>Receiving Contacts</a></li>
            <li routerLink="{{ adminRoutes.foreignContacts }}">
              <a>Foreign Contacts</a>
            </li>
            <li routerLink="{{ adminRoutes.faculties }}"><a>Faculties</a></li>
            <li routerLink="{{ adminRoutes.fieldsOfEdu }}">
              <a>Fields of Education</a>
            </li>
            <li routerLink="#"><a>Mobilities</a></li>
            <li routerLink="#"><a>Applications</a></li>
            <li routerLink="{{ adminRoutes.students }}"><a>Students</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <main class="admin-main">
      <router-outlet />
    </main>
  </div>
  <app-footer />
</div>
