.admin-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .content {
    flex-direction: row;
  }
}

/* buttons */

.button {
  color: white;
  font-size: 1.5em;
  padding: 0.5rem;
}

.button:hover {
  background-color: rgb(93, 91, 91);
  cursor: pointer;
}

/* header */

.admin-header {
  flex: 0 1 10%;
  background-color: rgb(65, 64, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.admin-header p {
  color: white;
  font-size: 1.5rem;
}

/* aside */

.admin-aside {
  flex: 0 1 auto;
  background-color: rgb(65, 64, 64);
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

/* layout for mobile */

@media (min-width: 700px) {
  .admin-aside {
    flex: 0 1 25%;
  }
}

@media (min-width: 800px) {
  .admin-aside {
    padding: 1em;
  }
}

@media (min-width: 1200px) {
  .admin-aside {
    flex: 0 1 20%;
  }
}

.admin-nav {
  position: absolute;
  z-index: 10;
  background-color: rgb(65, 64, 64);
  width: 100%;
}

@media (min-width: 700px) {
  .admin-nav {
    position: static;
  }
}

.admin-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  .admin-nav ul {
    align-items: flex-start;
    gap: 1em;
  }
}

.admin-nav li {
  list-style: none inside;
  padding: 0.5em;
}

@media (min-width: 1200px) {
  .admin-nav li {
    margin-left: 2em;
  }
}

.admin-nav li:hover {
  background-color: rgb(93, 91, 91);
  cursor: pointer;
}

.admin-nav li a {
  color: white;
  font-size: 1.3em;
}

.button.toggle-nav {
  font-size: 1.3em;
  align-self: center;
}

@media (min-width: 700px) {
  .button.toggle-nav {
    align-self: flex-start;
  }
}

/* main */

.admin-main {
  flex: 1 1 75%;
}
