.shell-container {
  height: 100%;
}

mat-tab-group {
  height: 5vh;
}

.shell-container .outlet-container {
  height: calc(100% - 5vh);
}

::ng-deep .phantom-tab {
  visibility: hidden;
  position: absolute !important;
  width: 0;
  overflow: hidden;
}
