<div class="auth-page">
  <div class="flex-container">
    <div class="auth-container">
      <h1>{{ sectionName }} {{ authAction }}</h1>

      <form
        [formGroup]="authenticationForm"
        (ngSubmit)="submitForm()"
        class="auth-form"
      >
        @if (error) {

        <p class="error-message">{{ error }}</p>
        }
        <div class="input-container">
          <label for="loginEmail">Email</label>
          <input
            type="email"
            id="loginEmail"
            formControlName="email"
            autocomplete="email"
          />
          @if (!authenticationForm.controls.email.valid &&
          authenticationForm.controls.email.touched) {

          <p class="error-message">Invalid email</p>
          }
        </div>
        <div class="input-container">
          <label for="loginPassword">Password</label>
          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="loginPassword"
              formControlName="password"
              autocomplete="current-password"
            />
            <span class="show-password" (click)="toggleShowPassword()">{{
              showPassword ? "hide" : "show"
            }}</span>
          </div>
          @if (!authenticationForm.controls.password.valid &&
          authenticationForm.controls.password.touched) {

          <p class="error-message">
            Password must be within 10 - 30 characters
          </p>
          }
        </div>

        <div class="actions">
          <button
            type="submit"
            class="submit-btn"
            [disabled]="!authenticationForm.valid"
          >
            {{ authAction == "login" ? "Sign in" : "Register" }}
          </button>

          @if (authModule == 'users') {

          <div class="help-options">
            <a
              [routerLink]="
                authAction == 'login'
                  ? userRoutes['register']
                  : userRoutes['login']
              "
              >{{ authAction != "login" ? "Sign in" : "Register" }}</a
            >
            <a>Forgot password?</a>
          </div>
          }
        </div>
      </form>
    </div>
  </div>
</div>
