<div class="main-container">
  <h1 class="form-title">Contact Form</h1>
  <form [formRoot]="institutionForm">
    <div class="form-controls">
      <!-- Code -->
      <div class="control-container">
        <label for="code">Code *</label>
        <input type="text" id="code" placeholder="BG101" [formField]="institutionForm.code" />
        @if (institutionForm.code().touched() && institutionForm.code().invalid()) {
          <p class="error">{{ institutionForm.code().errors()[0].message }}</p>
        }
      </div>

      <!-- institution name -->
      <div class="control-container">
        <label for="name">institution name *</label>
        <input
          type="text"
          id="name"
          placeholder="Angel kunchev"
          [formField]="institutionForm.name"
        />
        @if (institutionForm.name().touched() && institutionForm.name().invalid()) {
          <p class="error">{{ institutionForm.name().errors()[0].message }}</p>
        }
      </div>

      <!-- institution address-->
      <div class="control-container">
        <label for="address">Address *</label>
        <input
          type="text"
          id="address"
          placeholder="bul. Osvobojdenie"
          [formField]="institutionForm.address"
        />
        @if (institutionForm.address().touched() && institutionForm.address().invalid()) {
          <p class="error">{{ institutionForm.address().errors()[0].message }}</p>
        }
      </div>
    </div>
    <button class="bg-green-500 button" type="submit" [disabled]="institutionForm().invalid()">
      Submit
    </button>
  </form>
</div>
